body{
    padding: 0;
    margin: 0;
 
}

.header{
  width: 100%;
  height: 200px;
  background-color: #2F6D81;
}

.headername{
  position: relative;
  top: 20px;
  left: 50px;
  width: 300px;
  height: 180px;
  border-top-left-radius: 140px;
  border-top-right-radius: 140px;
  background-color: #062d3a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.a{
  font-size: 128px;
}
.r{
  font-size: 96px;
}
.f{
  font-size: 64px;
}
.aa{
  font-size: 48px;
}
.n{
  font-size: 40px;
}
.hedertitle{
  width: 350px;
  position: relative;
  top: -130px;
  left: 600px;
  color: white;
}
.hedertitle h1{
  padding: 0;
  margin: 0;
  width: 340px;
  display: inline;
}
.nav{
  position: relative;
  top: 1px;
  margin: 0;
  padding: 0;
  margin-top: 2px;
  align-items: center;
}

.nav ul{
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin: 0;
  padding: 0;
  height: 35px;
  list-style: none;
  display: flex;
  gap: 70px;
  background-color: #242C26;
  color: white;
}

.nav ul li a{
  text-decoration: none;
color: #46d8a0;

}


.video1{
 text-align: center;

 display: block;

}


@media only screen and (max-width:700px) {
  body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
 
}
.header{
  padding: 0;
  margin-left: 0;
  width: 100%;
  height: 110px;
}


.headername{
  
  position: relative;
  top: 10px;
  left: 100px;
  width: 85px;
  height: 85px;
  border: white solid 2px;
  
  border-radius: 50%;
  background-color: #062d3a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.a{
  font-size: 32px;
}
.r{
  font-size: 28px;
}
.f{
  font-size: 26px;
}
.aa{
  font-size: 24px;
}
.n{
  font-size: 20px;
}
.hedertitle{
  color: rgb(0, 0, 0);
  position: relative;
  top: -45px;
  left: 220px;
 display: block;
 width: fit-content ;
 
}

.hedertitle h1{
  font-size: 16px;
}

.nav{
  position: relative;
  width: 100%;
  top: 1px;
  margin: 0;
  padding: 0;
  margin-top: 2px;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav ul{
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin: 0;
  padding: 0;
  height: 35px;
  list-style: none;
  display:flex;
  gap: 70px;
  background-color: #242C26;
  color: white;
}
}